language: java

jdk: openjdk8

services:
  - docker

before_install:
  - cd docker/dev
  - docker-compose up -d

script:
  - cd ../../src
  - mvn test -P test-business,test-consumer






 













